apiVersion: v1
kind: Service
metadata:
  name: onpre_k8s_return_hello
spec:
  type: NodePort
  selector:
    app: onpre_k8s_return_hello
  ports:
    - port: 8000
      targetPort: 8000
      nodePort: 30080
